
.bmopm-offline-player {
	filter: grayscale(1);

	/* Pixel Scaling filter, just in case */
	-ms-interpolation-mode: nearest-neighbor;  /* IE 7+ (non-standard property) */
	image-rendering: -webkit-crisp-edges; /* Safari 6 - 9 */
	image-rendering: -moz-crisp-edges; /* Firefox 3.6 - 64 */
	image-rendering: crisp-edges; /* Firefox 65+ */
	image-rendering: pixelated; /* Chrome 41+, Edge 76+, Safari 10+ */
}

.bmopm-offline-player > .bm-marker-poi-icon {
	width: 32px;
	height: 32px;

	/* can't use transform here because the poi-icon overwrites it already */
	position: relative;
	top: -16px;
	left: -16px;

	transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s, opacity 0.3s !important;
}

.bmopm-offline-player > .bm-marker-poi-icon.bmopm-small {
	width: 16px;
	height: 16px;

	top: -8px;
	left: -8px;
}

.bmopm-offline-player > .bm-marker-poi-label {
	white-space: nowrap;
	max-width: unset !important;
}

.bmopm-offline-player > .bm-marker-poi-label > bmopm-datetime {
	margin: 0.2em 0 0;
	padding: 0;
	font-size: 0.85em;
}

.bmopm-offline-player > .bm-marker-poi-label > i {
	color: var(--theme-fg-light);
}
